.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent, .message-received {
  position: relative;
  margin: 5px 20px;
  padding: 5px 12px;
  border-radius: 19px;
}

.message-sent {
  color: white;
  background-color: $blue-color;
  border-color: $blue-color;
  float: right;
}

.message-received {
  background-color: $gray-light-color;
  border-color: $gray-light-color;
  float: left;
}

@media screen and (max-width: 699px) {
  .message-sent {
    margin: 5px 35px;
  }
}