<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <br>

      <table class="full-width table table-hover">
        <%= render(@users.reverse) %>
      </table>
    </div>
  </div>
  <div class="col-sm-8">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
          <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>
</div>