<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <p class="small">A PRODUCT OF</p>
      <h4><%= image_tag('branding/logo_black_text.png') %>
      </h4>
      <p>3344 Walnut St<br>Denver, CO 80205</p>
      <ul class="list-unstyled">
        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">support@starchat.com</a>
        </li>
      </ul>
      <br>
      <ul class="list-inline">
        <li>
          <a href="https://facebook.com/BiggerPockets"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
        </li>
        <li>
          <a href="http://twitter.com/biggerpockets"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company-beta/804252/"><i class="fa fa-youtube fa-fw fa-3x"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/BiggerPockets"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
        </li>
      </ul>
      <hr class="small">
      <p class="text-muted">Copyright &copy; Bigger Pockets 2079</p>
    </div>
  </div>
</div>